@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body,
html {
  margin: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

input {
  font-size: 25px;
  width: 400px;
  padding: 10px 10px 10px 11px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #d0d4d9;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus,
input:focus,
select:focus {
  outline: 0;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

button {
  width: 105px;
  height: 40px;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: rgb(63, 98, 138);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;

}

#result {
  margin-top: 30px;
  font-size: 20px;
}